# Template for Github Action workflow pr_to_master
#
# Workflow tasks:
#   - Lint SQL files
#   - Check required tests
#   - Run delta models
#   - Test delta models
#
# Usage:
#   - According to your choice of warehouse (BigQuery or Snowflake),
# please un-comment the suitable warehouse configuration section and
# and set proper values.
#   - Provide Github secrets and workflow environment variables properly.

name: pr_to_master

on:
  pull_request:
    branches:
      - main
    paths:
      - 'models/**'
      - 'snapshots/**'
      - 'dbt_project.yml'
      - 'packages.yml'
      - 'requirements.txt'

env:
  ARTIFACT_DBT_MANIFEST_WORKFLOW: push_to_master.yml
  ARTIFACT_DBT_MANIFEST_NAME: dbt_manifest

  DBT_PROFILES_DIR: ./
  DBT_USER: ${{ secrets.DBT_USER }}
  DBT_PASSWORD: ${{ secrets.DBT_PASSWORD }}
  DBT_SCHEMA: ${{ secrets.DBT_SCHEMA }}

  ## Environment variables for running Dbt on Google BigQuery
  # DBT_GOOGLE_PROJECT_DEV: google-project-id
  # DBT_GOOGLE_KEYFILE_PATH_DEV: path/to/your/service-account-key.json
  # DBT_BIGQUERY_DATASET_DEV: bq-dataset-dev

  ## Environment variables for running Dbt on Snowflake
  # DBT_SNOWFLAKE_USER_DEV: snowflake-user-name
  # DBT_SNOWFLAKE_ROLE_DEV: snowflake-role
  # DBT_SNOWFLAKE_DATABASE_DEV: snowflake-database
  # DBT_SNOWFLAKE_WAREHOUSE_DEV: snowflake-warehouse
  # DBT_SNOWFLAKE_SCHEMA_DEV: snowflake-schema
  # DBT_SNOWFLAKE_PRIVATE_KEY_PATH_DEV: path/to/your/snowflake-key
  # DBT_SNOWFLAKE_PRIVATE_KEY_PASSPHRASE_DEV: {{ secrets.DBT_SNOWFLAKE_PRIVATE_KEY_PASSPHRASE_DEV }}

jobs:
  pr_to_master:
    name: pr_to_master
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: "3.7.x"

      ## Dbt - Google BigQuery
      # - name: Authenticate gcloud
      #   uses: google-github-actions/setup-gcloud@v0.2.0
      #   with:
      #     service_account_key: ${{ secrets.BIGQUERY_SA_KEYFILE_DEV }}
      #     project_id: ${{ env.DBT_GOOGLE_PROJECT_DEV }}
      #
      # - name: Create Google Service Account key file from secret
      #   run: 'echo "$KEYFILE" > ${{ env.DBT_GOOGLE_KEYFILE_PATH_DEV }}'
      #   shell: bash
      #   env:
      #     KEYFILE: ${{ secrets.BIGQUERY_SA_KEYFILE_DEV }}

      ## Dbt - Snowflake
      # - name: Create Snowflake key file from secret
      #   run: 'echo "$KEYFILE" > ${{ env.DBT_SNOWFLAKE_PRIVATE_KEY_PATH_DEV }}'
      #   shell: bash
      #   env:
      #     KEYFILE: ${{ secrets.SNOWFLAKE_KEY_DEV }}

      ## Cache Pip wheel files
      - name: Cache Pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      ## Install Python dependencies & Dbt packages
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt
          dbt deps
          dbt seed

      ## Lint model files
      - name: Lint with sqlfluff
        run: |
          git fetch origin master:master
          git diff master --name-only --diff-filter=d | egrep '^models/.*sql$$' | xargs -r sqlfluff lint

      ## Check required dbt tests
      - name: Check required tests
        run: |
          dbt run-operation required_tests

      ## Download dbt manifest uploaded in another workflow (default: push_to_master.yml).
      # This manifest file will be used to filter out delta models.
      - name: Download dbt manifest
        id: download_dbt_manifest
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ env.WORKFLOW_DBT_MANIFEST }}
          workflow_conclusion: success
          branch: main
          name: ${{ env.ARTIFACT_DBT_MANIFEST_NAME }}
          path: .
          check_artifacts:  false
        continue-on-error: true

      ## In some case, manifest file artifact cannot be downloaded.
      # Then, compile current code to create a new manifest file.
      # Note, because previous dbt state is missing, all models will be
      # run and tested.
      - name: Create new Dbt manifest if cannot download
        if: steps.download_dbt_manifest.outcome == 'failure'
        run: |
          dbt compile
          cp target/manifest.json .

      ## Run delta models
      - name: Run models
        id: run_dbt
        run: dbt run -m state:modified+ --state .

      ## Test delta models
      - name: Test models
        run: dbt test -m state:modified+ --state .
